<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="/#/">Home</a></button>
  <button type="button" class="btn btn-default"><a href="#/new">Create New Location</a></button>
  <button type="button" class="btn btn-default"><a href="#/space_station">ISS Location</a></button>
</div>

<h1 class="display-1">{{vm.placeDetails.location}} Weather Report</h1>

<div map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{vm.googleMapsUrl}}">
  <ng-map center="{{vm.placeDetails.lat}},{{vm.placeDetails.lon}}" zoom="6">
    <marker position="{{vm.placeDetails.lat}},{{vm.placeDetails.lon}}" title="{{vm.placeDetails.location}}"></marker>
  </ng-map>
</div>

    <form class="form-inline">
      <div class="form-group">
        <p><label for="location">Location: </label><input ng-model="vm.placeDetails.location" id="location" type="text"><ng-if</p>
      </div>
      <div class="form-group">
        <p><label for="lat">Latitude: </label><input ng-model="vm.placeDetails.lat" id="lat" type="text"></p>
      </div>
      <div class="form-group">
        <p><label for="lon">Longitude: </label><input ng-model="vm.placeDetails.lon" id="lon" type="text"></p>
      </div>
      <div class="form-group">
        <p><a href="" ng-click="vm.getWeather()" class="btn btn-secondary btn-md">Generate Weather Report</a></p>
      </div>
        <p ng-if="vm.success">{{vm.success}}</p>
        <div ng-if="vm.failure">
          <p>Could Not Retrive Weather Data</p>
          <p ng-repeat="error in vm.errorMessages">{{error.message}}</p>
        </div>
    </form>
